*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(Suggestions.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: 	no-repeat;
}

h1{
    color:red;
}

.suggestion{
    display: flex;
    justify-content: center;
}

.contact{
width: 100%;
max-width: 500px;
}

.form{
display: flex;
flex-direction: column;
}

.field{
padding: 10px;
margin-bottom: 15px;
border: 1px solid white;
border-radius: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
}

textarea{
height: 150px;
}
